@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full antialiased;
  }
  
  body {
    @apply flex h-full bg-zinc-50 dark:bg-black;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Leaflet styles */
@import 'leaflet/dist/leaflet.css';

